.list1{
    margin-left: 200px;
    background-color: rgb(58, 32, 14);
    margin-right: 900px;
    color: tan;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

body{
    background-color: tan;
    border: 5px solid darkolivegreen;
}
h1{
    text-align: center;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: rgb(58, 32, 14);
    color: tan;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img{
    padding: 5px;
    border: 3px solid darkolivegreen;
    background-color: rgb(58, 32, 14);
    margin: 20px;

}
h3{
    margin-left: 175px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkolivegreen;
}
p{
    margin-left: 100px;
    margin-top: 150px;
    color: rgb(58, 32, 14);
    font-size: large;
    margin-right: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: 3px solid darkolivegreen;
    padding: 5px;
    margin-bottom: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.climberpic{
    display: flex;
}
.prolink{
    margin-left: 1100px;
    color: tan;
}
.prolink:visited{
    color: whitesmoke;
}
.fix{
    background-color: darkolivegreen;
    padding: 20px;
}
iframe{
    margin-left: 150px;
    margin-bottom: 35px;
    margin-right: 35px;
    flex-shrink: 0;
    margin-top: 35px;
}
.video{
    display: flex;
    background-color: rgb(58, 32, 14);
    margin: 5px;
}
.videop{
    color: tan;
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tableauPlaceholder{
    margin-left: 100px;
}
h2{
    text-align: center;
    padding: 10px;
    color: rgb(54, 23, 126);
}
.topboy{
    color: rgb(58, 32, 14);
}